html,
body {
    height: 100%;
    margin: 0px;
}

.sen:nth-child(-n+12),
.reps:nth-child(-n+2),
.pres:nth-child(1),
.vpres:nth-child(1) {
    font-weight: bold;
}

#td1px {
    padding: 5px 2px;
}

.divpad1px {
    padding: 5px 15px;
}

body {
    background-color: #03A9F4;
}

#cardmargin {
    margin: 40px 5px 5px 5px;
}

.card {
    color: #FF5722;
}

.card .card-title {
    margin: 5px;
}

#ssgtitle {
    padding: 10px;
    background-color: #FF5722;
}

#admintitle {
    padding: 10px;
    background-color: #1976D2;
}

h1 {
    margin: auto;
    text-align: center;
    color: #FFFFFF;
}

h3 {
    margin: auto;
    text-align: left;
    color: #FFFFFF;
}

.nav {
    padding-top: 20px;
}

.carousel .carousel-inner {
    box-shadow: none;
}

#center {
    margin: auto;
    text-align: center;
}


/* Customize the label (the container) */

.containerc {
    display: table;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.containerc input {
    position: inherit;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmarkc {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.containerc:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.containerc input:checked~.checkmarkc {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmarkc:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.containerc input:checked~.checkmarkc:after {
    display: block;
}


/* Style the checkmark/indicator */

.containerc .checkmarkc:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #FF5722;
}

input:focus+.slider {
    box-shadow: 0 0 1px #FF5722;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}