<!doctype html>
<html ng-app="admina" ng-controller="myCtrl">

<head>
    <title>Admin - Home</title>

    <script src="../../assets/js/angular/angular.min.js"></script>
    <script src="../../assets/js/core/jquery.min.js"></script>
    <script src="../../assets/js/core/popper.min.js"></script>
    <script src="../../assets/js/core/bootstrap.min.js"></script>
    <script src="../../assets/js/plugins/bootstrap-notify.js"></script>
    <script src="../../assets/js/adminadmin.js"></script>

    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
    <link href="../../assets/css/now-ui-dashboard.css" rel="stylesheet" />
    <link href="../../assets/css/mystyle.css" rel="stylesheet" />

</head>

<body>
    <div id="admintitle">
        <h3>Administrator</h3>
    </div>

    <div class="container">
        <div class="alert alert-success" role="alert" ng-show="addCandidateNotify">
            <div class="container">
                <div class="alert-icon">
                    <i class="now-ui-icons ui-2_like"></i>
                </div>
                <strong>Success!</strong> You successfully added a candidate.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                          <i class="now-ui-icons ui-1_simple-remove"></i>
                        </span>
                      </button>
            </div>
        </div>
        <div class="alert alert-danger" role="alert" ng-show="errorCandidateNotify">
            <div class="container">
                <div class="alert-icon">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                </div>
                <strong>Error!</strong> Cannot add candidate.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">
                                  <i class="now-ui-icons ui-1_simple-remove"></i>
                                </span>
                              </button>
            </div>
        </div>
        <div class="alert alert-info" role="alert" ng-show="deleteCandidateNotify">
            <div class="container">
                <div class="alert-icon">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                </div>
                <strong>Success!</strong> You deleted a candidate.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">
                                  <i class="now-ui-icons ui-1_simple-remove"></i>
                                </span>
                              </button>
            </div>
        </div>
        <div class="alert alert-warning" role="alert" ng-show="cannotdeleteCandidateNotify">
            <div class="container">
                <div class="alert-icon">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                </div>
                <strong>Warning!</strong> Cannot delete candidate.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                              <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                          </button>
            </div>
        </div>

        <div class="alert alert-primary" role="alert" ng-show="reZeroNotify">
            <div class="container">
                <div class="alert-icon">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                </div>
                <strong>REZERO SUCCES!</strong> All voting data are SET to 0.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">
                                  <i class="now-ui-icons ui-1_simple-remove"></i>
                                </span>
                              </button>
            </div>
        </div>

        <div class="content nav">
            <div class="col-md-4" id="center">
                <button class="btn-lg btn-primary btn-round" type="button" data-toggle="modal" data-target="#AddModal">
                    <i class="now-ui-icons ui-1_simple-add"></i> Add Candidate
                </button>
            </div>
            <div class="col-md-4" id="center">
                <h3 id="center">Voting</h3>
                <label class="switch">
                                    <input type="checkbox" id="votingCheckBox" data-toggle="modal" ng-model="votingStat">
                                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-md-4" id="center">
                <button class="btn-lg btn-danger btn-round" type="button" data-toggle="modal" data-target="#reZeroModal">
                            <i class="now-ui-icons ui-1_simple-add"></i> ReZero
                        </button>
            </div>
        </div>



        <div class="row">
            <div class="card" id="cardmargin">
                <div class="card-body">
                    <h4 class="card-title">Candidates</h4>
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in candidates">
                                <td class="text-center" id="td1px">{{$index + 1}}</td>
                                <td>
                                    {{c.name}}
                                </td>
                                <td>
                                    {{c.position}}
                                </td>
                                <td>
                                    <button type="button" ng-click="getRowID(c,$index)" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon" data-toggle="modal" title="Delete" data-target="#deleteModal" data-dismiss="modal">
                                                <i class="now-ui-icons ui-1_simple-remove"></i>
                                            </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</body>

<!-- Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form" ng-submit="insertCandidate();">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Candidate</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md">
                            <label>Full Name</label>
                            <input class="form-control form-control-lg" type="text" placeholder="Last Name, First Name, Middle Name" ng-model="candidatename" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <label>Position</label>
                            <select class="form-control form-control-lg" ng-model="candidateposition" required>
                                    <option value="">Please Select...</option>
                                    <option value="pres">President</option>
                                    <option value="vp">Vice President</option>
                                    <option value="sen">Senator</option>
                                    <option value="edrep">Education Representative</option>
                                    <option value="firep">Fisheries Representative</option>
                                    <option value="itrep">Information Technology Representative</option>
                                    <option value="barep">Business Administration Representative</option>
                                    <option value="crrep">Criminology Representative</option>
                                  </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade modal-mini modal-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="modal-profile">
                    <i class="now-ui-icons users_circle-08"></i>
                </div>
            </div>
            <form class="form" ng-submit="confirmDelete();">
                <div class="modal-body">

                    <div class="form-group row">
                        <div class="col-sm-12 text-center">
                            <h4>{{deleteModalMessage}}</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="inputPassword1" placeholder="Verify Password" name="password" ng-model="deletepassword" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-link btn-neutral">Proceed</button>
                    <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>

<div id="votingModal" class="modal fade modal-mini modal-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="modal-profile">
                    <i class="now-ui-icons users_circle-08"></i>
                </div>
            </div>
            <form class="form" ng-submit="setVoting();">
                <div class="modal-body">

                    <div class="form-group row">
                        <div class="col-sm-12 text-center">
                            <h4>{{VotingModalMessage}}</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="inputPassword2" placeholder="Verify Password" name="password" ng-model="votingpassword" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-link btn-neutral">Proceed</button>
                    <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>

<div id="reZeroModal" class="modal fade modal-mini modal-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="modal-profile">
                    <i class="now-ui-icons users_circle-08"></i>
                </div>
            </div>
            <form class="form" ng-submit="reZero();">
                <div class="modal-body">

                    <div class="form-group row">
                        <div class="col-sm-12 text-center">
                            <h4>REZERO WILL REMOVE ALL VOTE LOGS</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Verify Password" name="password" ng-model="rezeropassword" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-link btn-neutral">Proceed</button>
                    <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('.modal').on('hidden.bs.modal', function() {
        $(this).find('form')[0].reset();
    });
</script>

<script>
    $("#votingCheckBox").click(function() {
        if ($("#votingCheckBox").prop("checked") == true) {
            $('#votingModal').modal('show');
            $("#votingCheckBox").prop("checked", false);
        } else if ($("#votingCheckBox").prop("checked") == false) {
            $('#votingModal').modal('show');
            $("#votingCheckBox").prop("checked", true);
        }
    });
</script>

</html>